.consultant-filter {
  margin-bottom: 20px;
  padding: 10px;
  background-color: #f1f1f1;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
  
.consultant-filter label {
  font-weight: bold;
  margin-top: 4px;
}
  
.consultant-filter select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* sertifikaatit ja teknologiat */
.certification-filter,
.technology-filter {
  margin-top: 20px;
  padding: 10px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.certification-filter h3,
.technology-filter h3 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 17px;
  margin-top: 4px;
}

.certification-filter div,
.technology-filter div {
  margin: 5px 0;
}

.certification-filter input,
.technology-filter input {
  margin-right: 8px;
}
