.consultant-card {
  width: 100%;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 8px;
  min-width: 250px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: auto;
}

.consultant-card-button {
  margin-top: 10px;
  background-color: #e30059; 
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.consultant-card-button:hover {
  background-color: #a4003f;
}

.consultant-card h2 {
  margin-top: 0;
  /* color: #e30059; */
}
  
.consultant-card p {
  margin: 5px 0;
}
  
.consultant-card strong {
  font-weight: bold;
}

/* download-cv-button */
.download-cv-button {
  margin-top: 10px;
  margin-left: 7px;
  background-color: white;
  color: black;
  padding: 8px 15px;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  border-color: #191919;
  transition: background-color 0.3s ease;
}

.download-cv-button:hover {
  background-color: #191919;
  color: white;
  border-color: #191919;
}

.download-cv-button:focus {
  outline: none;
}