body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: white;
  color: #333;
  display: flex;
}

.App {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px;
  background-color: white;
}

h1 {
  text-align: left;
  position: sticky;
  padding: 10px;
  margin: 20px;
  color: #e30059;
  font-size: 45px; 
}

.main-content {
  display: flex;
  flex-direction: row; /* filter ja lista vierekkäin */
  gap: 20px;
}